body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #333;
    color: white;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header img {
    height: 100px;
}

.mYbtn {
    background-color: #007BFF;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
}

.mYbtn:hover {
    background-color: #0056b3;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

footer a{
	text-decoration: none;
	color: white;
}


.card-wrapper {
	display: flex;
	flex-wrap: wrap;
	gap: 2px;
	justify-content: start;
	padding-left: 20px;
	padding-right: 20px;
	overflow-y: auto;
	margin-bottom: 20px;
	min-height: calc(100vh - 140px - 84px - 220px);
	max-height: calc(100vh - 140px - 84px - 220px);
	padding-top: 20px;
	padding-bottom: 20px;
}

.card {
	width: 33%;
	max-height: 400px;
	box-sizing: border-box;
	border: 1px solid #ddd;
	border-radius: 5px;
	overflow: hidden;
	position: relative;
	transition: transform 0.3s;
}

.card:hover {
	transform: scale(1.01);
}

.card img {
	width: 100%;
	height: auto;
	object-fit: cover;
}

.card-body {
	padding: 15px;
}

.card-title {
	font-size: 1.1rem;
	font-weight: bold;
}

.card-text {
	font-size: 0.9rem;
	color: #666;
}

/* Trash icon */
.trash-icon {
	position: absolute;
	top: 10px;
	right: 10px;
	cursor: pointer;
	transition: color 0.3s;
	font-size: 32px;
}

.trash-icon:hover {
	color: red;
}

/* Terminal Container */
.terminal {
    width: 100%;               /* Breite des Containers */
    height: 400px;             /* Feste Höhe für das Terminal */
    overflow-y: auto;          /* Scrollen in vertikaler Richtung */
    background-color: black;  /* Hintergrundfarbe */
    color: white;              /* Textfarbe */
    font-family: 'Courier New', Courier, monospace; /* Monospace Schriftart */
    padding: 10px;             /* Innenabstand */
    box-sizing: border-box;    /* Sicherstellen, dass Padding in der Größe berücksichtigt wird */
    white-space: pre-wrap;     /* Erlaubt Zeilenumbrüche und langen Text ohne Abschneiden */
    font-size: 14px;           /* Schriftgröße */
    border: 2px solid #333;    /* Border, um es wie ein Terminal aussehen zu lassen */
    border-radius: 5px;        /* Abgerundete Ecken */
    margin-top: 10px;          /* Abstand nach oben */
}

/* Styling für das Scrolling */
.terminal::-webkit-scrollbar {
    width: 8px; /* Breite des Scrollbalkens */
}

.terminal::-webkit-scrollbar-thumb {
    background-color: #888; /* Scrollbalken-Farbe */
    border-radius: 4px;
}

.terminal::-webkit-scrollbar-thumb:hover {
    background-color: #555; /* Hover-Farbe des Scrollbalkens */
}
