
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #333;
    color: white;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header img {
    height: 100px;
}

.dashboardLink{
	text-decoration: none;
	color: black;
}

.btn {
    background-color: #007BFF;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
}

.btn:hover {
    background-color: #0056b3;
}

.popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
    opacity: 0;
    transform: scale(0.9);
    transition: opacity 0.3s ease, transform 0.3s ease;
}

.popup.show {
    opacity: 1;
    transform: scale(1);
}

.popup-content {
    background-color: white;
    padding: 30px;
    border-radius: 10px;
    width: 300px;
    text-align: center;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

footer a{
	text-decoration: none;
	color: white;
}

.profilePng{
	width: 200px;
	height: 200px;
	border-radius: 50%;
}

.dFlexCenter{
	display: flex;
	flex-direction: column;
	align-items: center;
}
